* {
  box-sizing: border-box;
}

/* Base Layout Styles */

.wrapper {
  text-align: center;
  background-color: #fff;
  min-height: calc(100vh - 64px);
}

.main {
  background-color: #fff;
  padding-top: 20px;
  margin-top: 16px;
  padding-bottom: 20px;
  margin-bottom: 16px;
}

.banner {
  background-image: url("../images/bannerbackground.jpg");
  background-color: #f6edc7;
  background-repeat: no-repeat; /* d */
  background-size: cover; /* d */
  background-position: center; /* d */
  filter: brightness(85%);
  height: 50em;
}

h1,
p,
a {
  color: white;
}

.main-footer {
  text-align: center;
  margin: 0 auto;
}

/* Navigation */

.main-nav ul{
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
}

.main-nav li {
  font-weight: bold;
  padding: 10px;
  display: block;
}
.main-nav a{
  color: black;
  display: block;
}

.main-nav a:hover {
  color: gray;
}

.logo {
  display: block;
  float: left;
  margin: 20px 0px 20px 60px;
}

.main-name {
  padding: 0px 20px;
}

.main-title {
 display: block;
 padding: 0px 10px;
}

.name-title {
  display: block;
}

.header-main {
  display: block;
}

/* ---- Float clearfix ---- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}


/* Media Queries */

@media (min-width: 1100px) {

  .logo {
    float: left;
    text-align: center;
    margin-left: 60px;
  }

  .header-main {
    float: left;
    display: inline-block;
  }

  .main-nav ul{
    float: right;
    margin-top: 34px;
    margin-right: 40px;
  }

  .main-nav li {
    float: left;
    margin-left: 20px;
  }

  .main-nav a {
    font-size: 2rem;
  }
  .main-nav {
    display: block;
    background-color: #fff;

  }

  .main-name,
  .main-title {
    display: none;
  }

  h1 {
    font-size: 4.5rem;
  }
